/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

.wufoo .info{display:none}

.wufoo label.desc, .wufoo legend.desc, .likert caption  {
    color:red !important;
}